<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="spider-viz">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0266892943143008 -0.0529146307622766 0.0363292392541809"
        rpy="0 0 0" />
      <mass
        value="0.0921702413076557" />
      <inertia
        ixx="2.08625964058626E-05"
        ixy="-3.28311314718421E-11"
        ixz="-4.2719915321818E-13"
        iyy="2.06809503924717E-05"
        iyz="1.508536589233E-11"
        izz="3.53797936296955E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Leg_upper_1">
    <inertial>
      <origin
        xyz="0.0224341484177877 0.0194345019323821 0.00123802963799402"
        rpy="0 0 0" />
      <mass
        value="0.0300293941663224" />
      <inertia
        ixx="1.2652735989692E-06"
        ixy="9.57440698225773E-08"
        ixz="3.50404255765328E-08"
        iyy="2.92500973172409E-06"
        iyz="1.24828337019022E-08"
        izz="2.37294066598205E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_upper_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_upper_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Leg_upper_1"
    type="revolute">
    <origin
      xyz="0.055831 -0.082057 0.032257"
      rpy="1.5708 0 -0.77035" />
    <parent
      link="base_link" />
    <child
      link="Leg_upper_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Leg_lower_1">
    <inertial>
      <origin
        xyz="0.00311176481872157 0.00668594442837456 -0.014229476288882"
        rpy="0 0 0" />
      <mass
        value="0.00601286144806056" />
      <inertia
        ixx="3.40663837434057E-06"
        ixy="-7.64574602028228E-10"
        ixz="2.60962310894469E-09"
        iyy="2.81511776431459E-06"
        iyz="-1.13227495170938E-06"
        izz="6.06135581740067E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_lower_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_lower_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Leg_lower_1"
    type="revolute">
    <origin
      xyz="0.055094 0.01315 0"
      rpy="-0.18188 -1.5708 -0.94989" />
    <parent
      link="Leg_upper_1" />
    <child
      link="Leg_lower_1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Leg_upper_2">
    <inertial>
      <origin
        xyz="0.0224591945586423 0.0194345020400587 -0.000747784292902183"
        rpy="0 0 0" />
      <mass
        value="0.0300293937574502" />
      <inertia
        ixx="1.26742713368931E-06"
        ixy="9.61215915544592E-08"
        ixz="-5.8297297807317E-08"
        iyy="2.92500970148588E-06"
        iyz="-1.0253975111172E-08"
        izz="2.37078709799993E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_upper_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_upper_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Leg_upper_2"
    type="revolute">
    <origin
      xyz="-0.0024528 -0.082057 0.032257"
      rpy="1.5708 0 -2.3483" />
    <parent
      link="base_link" />
    <child
      link="Leg_upper_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Leg_lower_2">
    <inertial>
      <origin
        xyz="-0.001571113030223 0.00651525023762317 -0.0143539278042697"
        rpy="0 0 0" />
      <mass
        value="0.00601286144806057" />
      <inertia
        ixx="3.4066581371373E-06"
        ixy="-3.78655154375142E-10"
        ixz="1.36965531009075E-09"
        iyy="2.77989487478395E-06"
        iyz="-1.16557426834591E-06"
        izz="6.41338708473986E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_lower_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_lower_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Leg_lower_2"
    type="revolute">
    <origin
      xyz="0.055094 0.01315 0"
      rpy="-1.4305 -1.5708 0.32021" />
    <parent
      link="Leg_upper_2" />
    <child
      link="Leg_lower_2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Leg_upper_3">
    <inertial>
      <origin
        xyz="0.0222809004205029 0.0194345019323819 0.00289572254670594"
        rpy="0 0 0" />
      <mass
        value="0.0300293941663224" />
      <inertia
        ixx="1.2661714803986E-06"
        ixy="9.45569910154918E-08"
        ixz="-4.71336283660847E-08"
        iyy="2.92500973172409E-06"
        iyz="1.95377453539567E-08"
        izz="2.37204278455265E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_upper_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_upper_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Leg_upper_3"
    type="revolute">
    <origin
      xyz="-0.0024528 -0.023773 0.032257"
      rpy="1.5708 0 2.4454" />
    <parent
      link="base_link" />
    <child
      link="Leg_upper_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Leg_lower_3">
    <inertial>
      <origin
        xyz="0.0080804639879735 0.00427031625418333 -0.0148004463019774"
        rpy="0 0 0" />
      <mass
        value="0.00601286144806056" />
      <inertia
        ixx="3.40571349652748E-06"
        ixy="-2.27161817315971E-09"
        ixz="1.59035355940662E-08"
        iyy="2.45598618405239E-06"
        iyz="-1.3958484025883E-06"
        izz="9.66192039815355E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_lower_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_lower_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Leg_lower_3"
    type="revolute">
    <origin
      xyz="0.055094 0.01315 0"
      rpy="2.1537 -1.5708 0" />
    <parent
      link="Leg_upper_3" />
    <child
      link="Leg_lower_3" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Leg_upper_4">
    <inertial>
      <origin
        xyz="0.0224638651606072 0.0194345020400586 -0.00059106989240304"
        rpy="0 0 0" />
      <mass
        value="0.0300293937574502" />
      <inertia
        ixx="1.26829429491892E-06"
        ixy="9.61907932986475E-08"
        ixz="-6.59894987584528E-08"
        iyy="2.92500970148588E-06"
        iyz="-9.58309204378559E-09"
        izz="2.36991993677032E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_upper_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_upper_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Leg_upper_4"
    type="revolute">
    <origin
      xyz="0.055831 -0.023773 0.032257"
      rpy="1.5708 0 0.80024" />
    <parent
      link="base_link" />
    <child
      link="Leg_upper_4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Leg_lower_4">
    <inertial>
      <origin
        xyz="-0.00110170463485278 0.00670607084598075 -0.0142737370877943"
        rpy="0 0 0" />
      <mass
        value="0.00601286144806056" />
      <inertia
        ixx="3.40663911805935E-06"
        ixy="-7.47407452275963E-10"
        ixz="2.57561952401826E-09"
        iyy="2.80926115614717E-06"
        iyz="-1.1379576149151E-06"
        izz="6.11991446188703E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_lower_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spider-viz/meshes/Leg_lower_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Leg_lower_4"
    type="revolute">
    <origin
      xyz="0.055094 0.01315 0"
      rpy="2.015 -1.5708 0" />
    <parent
      link="Leg_upper_4" />
    <child
      link="Leg_lower_4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>